apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: "8.1.1"   # Latest stable as of mid 2025; check https://artifacthub.io/packages/helm/argo/argo-cd
    releaseName: argocd
    namespace: argocd
    valuesFile: values.yaml

namespace: argocd